<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - Fiks Ferdig</title>

    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <nav>
        <ul>
            <li class="leftNav"><a href="/">GetShitDone</a></li>
            <li class="rightNav"><a href="">Todo-list</a></li>
            <li class="rightNav"><a href="/log-in">Logg inn</a></li>
        </ul>
    </nav><br><br>