<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/admin.css">

    <div class="container">
        <h1>Administratorsider:</h1>
        <div class="adminNav">
            <ul>
                <li><a href="/admin/prosjektplan">Prosjektplan</a></li>
                <li><a href="/admin/ip-plan">IP-Plan</a></li>
                <li><a href="/admin/veileder">Veileder</a></li>
            </ul>
        </div>
    </div>

<%- include('partials/footer') %>