<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/home.css">

    <div class="pageContainer">
        <h1>The ultimate to-do-list app</h1>
        <h2>Get shit done today!</h2>
        <% if (!locals.loggedIn) { %>
            <a class="link" href="/sign-in">Login to start using the app</a>
        <% } else { %>
            <a class="link" href="/user">Go to your home page to start using the app</a>
        <% }; %>
    </div>

<%- include('partials/footer') %>