<%- include('partials/header') %>

    <!-- css -->
    <!-- <link rel="stylesheet" href="/css/home.css">

    <div class="stuffContainer">
        <div class="stuffNav">
        <button class="leftArrow"><img src="/img/arrow-left-solid.png" alt="arrow left"></button>
            <h1>The shit I am going to do today</h1>
            <button class="rightArrow"><img src="/img/arrow-right-solid.png" alt="arrow right"></button>
        </div>
        <div class="todo-list">
            <p class="item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <form class="inputContainer">
            <input type="text" class="addItem" placeholder="Type new shit here...">
            <button class="addButton" type="submit"><img src="/img/check-solid-white.png" alt="checkmark"></button>
        </form>
    </div> -->

    <!-- css -->
    <link rel="stylesheet" href="/css/home-signedout.css">
    
    <div class="pageContainer">
        <h1>The ultimate to-do-list app</h1>
        <h2>Get shit done today!</h2>
        <p><a href="/sign-in">Login</a> to start using the app</p>
    </div>

<%- include('partials/footer') %>