<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/admin.css">

    <div class="container wider">
        <h1>IP-Plan:</h1>

        <p class="subnet">Subnet: 10.12.30.0/24</p>
        <p class="address">IP-Addresse: 10.12.30.56</p>
        <p class="gateway">Gateway: 10.12.30.1</p>
        <p class="name-servers">Name servers: 10.10.1.30</p>
        <p class="search-domain">Search Domain: forberedelse.deliverator.ikt-fag.no</p>
        <p class="dns">DNS Server: 10.12.30.10</p>

        <h1>Nettverksdiagram:</h1>
        <img src="/img/nettverksdiagram.png" alt="Nettverksdiagram som viser hvordan nettverket er satt opp rundt serveren min.">

        <h1>ER-Diagram:</h1>
        <img src="/img/eksamen_er-diagram.png" alt="ER-diagram som viser hvordan databasen min er organisert.">
    </div>

<%- include('partials/footer') %>