<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/owner.css">

    <div class="controlsContainer">
        <h1>Kontrollpanel:</h1>
        <div class="userContainer"></div>
    </div>

    <!-- scripts -->
    <script src="/js/owner.js" defer></script>

<%- include('partials/footer') %>