<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/prosjektplan.css">

    <div class="container">
        <h1>Prosjektplan med tidsestimater</h1>
        <img src="/img/prosjektplan.png" alt="Bilde av en GitHub-Projects prosjektplan med tidsestimater">
    </div>

<%- include('partials/footer') %>