<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="/css/statusCodes.css">

    <form class="lag-bruker">
        <h1>Ny bruker</h1>
        <label for="epost" class="hidden">E-post</label>
        <input type="text" name="epost" id="epost" placeholder="Epost"><br>

        <label for="brukernavn" class="hidden">Brukernavn</label>
        <input type="text" name="brukernavn" id="brukernavn" placeholder="Brukernavn"><br>

        <label for="passord" class="hidden">Passord</label>
        <input type="password" name="passord" id="passord" placeholder="Passord"><br>

        <label for="gjentaPassord" class="hidden">Gjenta passord</label>
        <input type="password" name="gjentaPassord" id="gjentaPassord" placeholder="Gjenta passord"><br>

        <a href="/sign-in">Har du en bruker?</a>
        <p class="feedback hidden">feedback</p>
        <button type="submit">Logg inn</button>
    </form>

    <!-- scripts -->
    <script src="/js/feedback.js" defer></script>
    <script src="/js/signup.js" defer></script>

<%- include('partials/footer') %>