<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="/css/statusCodes.css">

    <form class="innlogging">
        <h1>Innlogging</h1>
        <label for="epost" class="hidden">E-post</label>
        <input type="text" name="epost" id="epost" placeholder="Epost"><br>
        <label for="passord" class="hidden">Passord</label>
        <input type="password" name="passord" id="passord" placeholder="Passord"><br>
        <a href="/sign-up">Ny bruker?</a>
        <p class="feedback hidden">Feedback</p>
        <button type="submit">Logg inn</button>
    </form>

    <!-- scripts -->
    <script src="/js/feedback.js" defer></script>
    <script src="/js/signin.js" defer></script>

<%- include('partials/footer') %>