<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="/css/statusCodes.css">

    <form class="innlogging">
        <h2>Innlogging</h2>
        <input type="text" id="epost" placeholder="Epost"><br>
        <input type="password" id="passord" placeholder="Passord"><br>
        <a href="/sign-up">Ny bruker?</a>
        <button type="submit">Logg inn</button>
    </form>

    <!-- scripts -->
    <script src="/js/feedback.js" defer></script>

<%- include('partials/footer') %>