<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/home.css">

    <div class="shitContainer">
        <div class="stuffNav">
        <button class="leftArrow"><img src="/img/arrow-left-solid.png" alt="arrow left"></button>
            <h1>The shit I am going to do today</h1>
            <button class="rightArrow"><img src="/img/arrow-right-solid.png" alt="arrow right"></button>
        </div>
        <div class="todo-list"></div>
        <form class="inputContainer">
            <input type="text" id="newTodo" placeholder="Type new shit here...">
            <button class="addButton" type="submit"><img src="/img/check-solid-white.png" alt="checkmark"></button>
        </form>
    </div>

    <!-- scripts -->
    <script src="/js/todo.js" defer></script>

<%- include('partials/footer') %>