<%- include('partials/header') %>

    <h1>Autentisering - hvorfor er det viktig å autentisere og autorisere brukere:</h1>

    <div>
        <p>Det er viktig å autentisere brukere, slik at bare brukere som er logget inn kan nå sine egne gjøremål. Det er også viktig å autorisere brukere, slik at bare administrator-brukere kan nå administratorsidene.</p>

        <p>Grunnen til at brukere må være autentiserte før de kan bruke dette nettstedet til å lage gjøremål, er fordi gjøremålene er tilknyttet en bruker. Med et innloggingssystem, blir det også enklere å passe på at brukeren bare kan se og redigere sine egne gjøremål, og ikke andre brukeres gjøremål.</p>
    </div>

<%- include('partials/footer') %>