@font-face {
    font-family: 'Lato-Regular';
    src: url('/fonts/Lato-Regular.ttf');
}

body {
    font-family: 'Lato-Regular';
}

nav {
    background-color: #000000;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;

    z-index: 100;
}

nav * {
    color: white;
}

nav ul li {
    display: inline-block;
    margin: 15px;
    margin-top: 0px;
}

.leftNav {
    float: inline-start;
}

.rightNav {
    float: inline-end;
}

.hidden {
    display: none;
}